APP_PORT=

#DATABASE
DB_HOST=localhost
DB_PORT=your_port
DB_USERNAME=your_username 
DB_PASSWORD=your_db_password
DB_DATABASE=your_db
ENABLE_ORM_LOGS=boolean
ENABLE_SYCHORIZE_DB=boolean

#AUTHENTICATE
ACCESS_TOKEN_SECRET=access_token_secret
REFRESH_TOKEN_SECRET=refresh_token_secret
ACCESS_TOKEN_expiresIn=
REFRESH_TOKEN_expiresIn=